node_modules/*
!node_modules/sql.js
node_modules/sql.js/*
!node_modules/sql.js/package.json
!node_modules/sql.js/dist
node_modules/sql.js/dist/*
!node_modules/sql.js/dist/sql-asm.js
*.vsix
.vscode-test
.DS_Store
.github
artifacts
baselines
docs
reports/untranslated-*.json
reports/workbench-untranslated.*
package-lock.json
tsconfig.json
src
scripts
out/**/*.map